 /* GLOBALS */

:root {
    --main-bg-color: rgb(42, 42, 42);
    --light-tint: rgba(20, 20, 20, 0.3);
    --medium-tint: rgba(20, 20, 20, 0.5);
    --dark-tint: rgba(20, 20, 20, 0.7);
    --darker-tint: rgba(10, 10, 10, 0.7);
    --highlight: rgba(100, 100, 100, 0.8);
    --border-color: #eeeeee;
    --border-alt-color: #999999;
    --text: ghostwhite;
    --transition: 50ms;
    --header-height: 35px;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

html {
    background-color: var(--main-bg-color);
}

html, body {
    padding: 0;
    margin: 0;
}

#main {
    display:flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    color: var(--text);
    margin: 4px 0;
}

.music-player {
    display: flex;
    flex-grow: 1;
    overflow-y: hidden;
}

.hidden {
    display: none;
    width: 0;
    height: 0;
}

.hovered {
    background-color: var(--highlight)!important;
    cursor: pointer;
}

.selected {
    background-color: var(--highlight)!important;
}

/* HEADER */

.header {
    width: 100vw;
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-bg-color);
    top: 0;
    left: 0;
}

.header-list {
    display: flex;
}

.header-list li {
    padding: 2px 4px;
    transition: var(--transition);
}

.header-list li:hover {
    background-color: var(--highlight);
    cursor: pointer;
}

/* BODY */

 .body-container {
     display: flex;
     flex-grow: 1;
     flex-direction: column;
     position: relative;
     overflow: hidden;
 }

 .body-bg {
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background-size: cover;
     background-position: center;
     filter: blur(8px) brightness(50%);
     transform: scale(1.05);
     z-index: -1;
 }

/* DRAWER */

.drawer-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 30px;
    border: 1px solid var(--border-alt-color);
    border-right: none;
    border-radius: 3px 0 0 3px;
    background: var(--main-bg-color);
    transition: var(--transition);
    cursor: pointer;
    opacity: 0.2;
}

.mirrored {
    transform: rotate(180deg);
    left: 0;
    right: unset;
}

.drawer-toggle-btn:hover {
    opacity: 1;
}

.triangle-left {
    --tri-size: 5px;
    width: 0;
    height: 0;
    border-top: var(--tri-size) solid transparent;
    border-bottom: var(--tri-size) solid transparent;
    border-right: var(--tri-size) solid var(--text);
    cursor: pointer;
}

.drawer {
    position: relative;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    min-width: 260px;
    background-color: var(--medium-tint);
}

.drawer-content {
    overflow-y: scroll;
}

.drawer-grouping-container {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.drawer-grouping-text {
    display: flex;
}

.drawer-grouping-text > p {
    cursor: pointer;
    font-size: 15px;
    transition: var(--transition);
}

.drawer-grouping-text > p:hover {
    transform: scale(1.05);
}

.drawer-grouping-text > p:not(p:last-of-type)::after {
    content: ">";
    cursor: default;
    margin: 0 6px;
}

.grouping-settings {
    filter: invert();
    width: 15px;
    cursor: pointer;
    transition: var(--transition);
    opacity: 0.9;
}

.grouping-settings:hover {
    opacity: 1;
}

.drawer-settings-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.drawer-settings-item {
    display: flex;
    align-items: center;
    transition: var(--transition);
    padding-left: 8px;
    margin: 6px 12px;
    background: rgba(42, 42, 42, 0.6);
    border-radius: 14px;
    border: 1px solid var(--border-alt-color);
    cursor: pointer;
}

.drawer-settings-item:hover {
    background: var(--highlight);
    border: 1px solid var(--border-color);
}

.drawer-settings-input {
    flex-grow: 1;
    appearance: none;
    border: none;
    color: var(--text);
    background: none;
    padding: 12px 8px;
    cursor: pointer;
}

.add-grp-btn {
    align-self: center;
    margin-top: 8px;
    width: 30px;
    filter: invert();
    opacity: 0.8;
    transition: var(--transition);
    cursor: pointer;
}

 .remove-grp-btn {
     margin-right: 12px;
     width: 15px;
     filter: invert();
     opacity: 0.8;
     transition: var(--transition);
     cursor: pointer;
 }

.add-grp-btn:hover, .remove-grp-btn:hover {
    opacity: 1;
}

.drawer-tag {
    display: flex;
    flex-direction: column;
    padding: 4px 0 4px 6px;
    transition: var(--transition);
    border-top: 1px solid var(--border-alt-color);
    background-color: var(--dark-tint);
    cursor: pointer;
}

.drawer-tag p {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.drawer-tag:nth-child(even) {
    background-color: var(--darker-tint);
}

.drawer-tag:hover {
    background-color: var(--highlight);
    cursor: pointer;
}

.drawer-album-cover-img {
    max-width: 70px;
}

.drawer-tag-text-container {
    padding-left: 8px;
    cursor: pointer;
}

.drawer-tag-text-container p {
    font-size: 14px;
}

.drawer-tag-text-container p:not(p:first-child) {
    font-size: 12px;
    opacity: 0.6;
}

/* BROWSER */

.browser {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--light-tint);
}

.browser-album-list {
    overflow-y: scroll;
}

.browser-album {
    display: flex;
    flex-direction: column;
}

.album-header {
    display: flex;
    padding: 32px 18px 12px;
    border-top: 1px solid var(--border-color);
}

.browser-album:first-child .album-header {
    padding: 12px 18px;
    border-top: none;
}

.album-header-cover-img {
    max-width: 200px;
    max-height: 200px;
    align-self: center;
}

.album-header-text-container {
    display: flex;
    flex-direction: column;
    padding: 18px 12px;
}

.album-header-text-container p {
    padding-bottom: 16px;
}

.album-title-text {
    font-size: 24px;
}

.browser-track-list {
    display: flex;
    flex-direction: column;
}

.track-list-header {
    display: flex;
    padding: 4px 20px;
}

.track-list-header > p {
    flex-basis: 0;
    flex-grow: 1;
}

.track-list-header > p:first-child {
    max-width: 50px;
}

.track-list-header > p:last-child {
    max-width: 75px;
}

.track-info {
    display: flex;
    transition: var(--transition);
    background-color: var(--medium-tint);
    padding: 1px 20px;
    border-top: 1px solid var(--border-alt-color);
    cursor: pointer !important;
}

.track-info:nth-child(odd){
    background-color: var(--dark-tint);
}

.track-info:hover{
    background-color: var(--highlight);
}

.track-info p {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    user-select: none;
    cursor: pointer !important;
}

.track-playing-icon {
    width: 10px;
    filter: invert();
    margin-right: 20px;
    animation: expandin .3s;
}

@keyframes expandin {
    from {
        width: 0;
        margin-right: 0;
    }

    to {
        width: 10px;
        margin-right: 20px;
    }
}

.track-info > p:first-of-type {
    max-width: 50px!important;
}

.track-info > p:last-of-type {
     max-width: 75px!important;
 }

/* PLAYER */

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 20px;
    max-height: 110px;
    border-top: 1px solid var(--border-color);
    position: relative;
    background-color: var(--light-tint);
}

.controls-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    position: relative;
}

.controls-container > div {
    flex-grow: 1;
    flex-basis: 0;
}

.controls-info {
    display: flex;
    max-width: 33%;
}

.controls-thumbnail {
    height: 75px;
    margin-right: 10px;
}

.controls-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.controls-text > p {
    margin: 2px;
    white-space: nowrap;
    transition: 2s;
    transition-timing-function: linear;
}

.controls-text > p:hover {
    transform: translateX(-50%);
}

.controls-artist, .controls-album {
    font-size: 14px;
    opacity: 0.7;
}

.controls-title {
    font-size: 18px;
    opacity: 1;
}

.controls-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.controls-buttons img {
    cursor: pointer;
    width: 30px;
    color: var(--text);
    filter: invert();
    margin: 5px 15px;
    transition: var(--transition);
}

.controls-buttons img:hover {
    transform: scale(1.05);
}

.controls-volume {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#volume-slider {
    margin: 0 12px;
    height: 1px;
    max-width: 100px;
}

#volume-slider::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
}

.vol-btn {
    filter: invert();
    width: 20px;
    margin: 5px;
}

.scrubber-container {
    display: flex;
    align-items: center;
    width: 100%
}

.scrubber-container p {
    font-size: 14px;
    opacity: 0.8;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--border-alt-color);
    height: 2px;
    border-radius: 1px;
    flex-grow: 1;
    margin: 0 18px;
    outline: none;
    cursor: grab;
    opacity: 0.7;
    transition: opacity var(--transition);
}

.slider:hover {
    opacity: 1;
}

.slider:active {
    cursor: grabbing;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: var(--border-alt-color);
    border-radius: 50%;
    opacity: 1;
}